<h2>App Component Main</h2>


<a [routerLink]="['/bikes/bike-lists']"  >List Bikes</a>
<a [routerLink]="['/bikes/bike-create']"  >Create Bikes</a>
<a [routerLink]="['/clients/clients-list']"  >Clientes</a>
<a [routerLink]="['/sales/catalogo']"  >Catalogo</a>
<hr>
<router-outlet></router-outlet>
